pandas>=0.18.1   # pyup: ignore - allow all versions above this
numpy>=1.11.1  # pyup: ignore - allow all versions above this
requests>2,<3
urllib3>1.24,<2
websocket-client>=0.56.0,<2
websockets>=9.0,<11
msgpack==1.0.4
aiohttp==3.8.3
PyYAML==6.0
deprecation==2.1.0
